/* css样式文件，用于对网页进行修饰 */

body{
    /* background:pink; */
    background: url(../images/test.jpg) no-repeat;
    background-size: 100%;
}

h1{
    color: red;
    font-size: 40px;
    background:green;
    width: 600px;
    height:100px;
    /* 水平居中 */
    text-align: center;
    /* 垂直居中 */
    line-height: 100px;
    /* 距离上下为50px，整体水平居中 */
    margin: 50px auto;
}

h2{
    color: blue;
}

/* 自定义样式，以.号开头，称为类选择器 */
.aaa{
    background: pink;
    color: white;
}

.container{
    background:pink;
    width: 800px;
    height: 200px;
    /* 弹性盒子 */
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;

    /* 相对定位 */
    position: relative;
}

.bbb{
    background:blue;
    width: 200px;
    height: 50px;
}

.ccc{
    background: red;
    width: 200px;
    height: 50px;

    /* 绝对定位 */
    position: absolute;
    /* 离上边的距离 */
    /* top: 100px; */
    top: 50%;
    /* 离左边的距离 */
    /* left: 155px; */
    left: 50%;
    /* 
        移动位置
            往左移动自身宽度的50%，使其居中水平中心的位置
            往上移动自身高度的50%，使其居中垂直中心的位置
    */
    transform: translate(-50%,-50%);
    /* 鼠标形状显示为手形 */
    cursor: pointer;
    /* 不透明度 */
    opacity: 0.5;
}

.a1{
    background: pink;
}
.a2{
    color: red;
}
.a3{
    font-size: 40px;
}
